{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Londres</h1>
        <p>
             Es la capital y mayor ciudad de Inglaterra y del Reino Unido.2​3​ Situada a orillas del río Támesis, Londres es un importante asentamiento humano desde que fue fundada por los romanos con el nombre de Londinium hace casi dos milenios.4​ El núcleo antiguo de la urbe, la City de Londres, conserva básicamente su perímetro medieval de una milla cuadrada. Desde el siglo XIX el nombre «Londres» también hace referencia a toda la metrópolis desarrollada alrededor de este núcleo.5​ El grueso de esta conurbación forma la región de Londres y el área administrativa del Gran Londres,6​ gobernado por el alcalde y la asamblea de Londres
        </p>
    </div>


    <div class="col-4">
        <img src="assets/img/londonEye.jpg" class="img-thumbnail">
    </div>


</div>

  



{{> footer }}